{% extends "djangocms_baseplugins/baseplugin.html" %}
{% load cms_tags thumbnail %}


{% block plugin_content %}

    <div
        id="{{ object.get_anchor }}"
        class="plugin {{ object.css_classes }} plugin_image plugin_image_{{ object.layout }}"
    >
        {% block plugin_inner_content %}
            {% block plugin_title %}
                {{ block.super }}
            {% endblock %}

            {% if object.image %}
                {% thumbnail object.image 1000x1000 crop=0 upscale=0 as resized %}
                <figure>
                  <img src="{{ resized.url }}" alt="{{ object.caption }}">
                  {% if object.caption %}<figcaption>{{ object.caption }}</figcaption>{% endif %}
                </figure>
            {% endif %}
        {% endblock %}

        {% block plugin_children %}
        {% endblock %}
    </div>

{% endblock %}
