{% extends "djangocms_baseplugins/baseplugin.html" %}
{% load cms_tags thumbnail %}


{% block plugin_content %}
<div class="plugin {{ object.get_css_classes }} plugin_image plugin_image_{{ object.layout }}">
    {% if object.image %}
        {% thumbnail object.image 1000x1000 crop=0 upscale=0 as resized %}
        <figure>
          <img src="{{ resized.url }}" alt="{{ object.caption }}">
          {% if object.caption %}<figcaption>{{ object.caption }}</figcaption>{% endif %}
        </figure>
    {% endif %}
</div>
{% endblock %}
