include LICENSES
include README.md
include PYPI.rst
global-exclude *.orig *.pyc *.log *.swp

recursive-include djangocms_baseplugins/templates *
recursive-include djangocms_baseplugins/static *
recursive-include djangocms_baseplugins/locale *
recursive-include djangocms_baseplugins/ *
