tox
coverage
django-coverage
flake8
factory_boy
mock
selenium

easy-thumbnails
django-cms==3.4.4
django-filer
# text
django-ckeditor
# twitter
requests
# person (only if default template)
django-mailprotector