tox
coverage
django-coverage
flake8
factory_boy
mock
selenium

easy-thumbnails
django==1.11.11
django-cms==3.4.5
django-filer
django-polymorphic==1.2
# text
django-ckeditor
# twitter
requests
# person (only if default template)
django-mailprotector