{% load sekizai_tags cms_tags %}


{% if request.toolbar.edit_mode or request.toolbar.edit_mode_active %}
    {% if not object.is_visible  %}
        {% addtoblock "css" %}
        {% include 'djangocms_baseplugins/baseplugin_styles.html' %}
        {% endaddtoblock %}
    {% endif %}
{% endif %}


{% block plugin_content %}
    {# TODO: not used many times, experiment with it! #}

    {# default version: add correct styles, add title if available, add children if there are #}
    {# plugin_add_class to add more specific styles  #}
    {# plugin_inner_content only the main content, contains title by default  #}
    {# plugin_title only change title rendering. sub block of inner_content #}
    {# plugin_children automatic children rendering  #}

{#    <section id="{{ object.get_html_id }}" class="{{ object.get_css_classes }} {% block plugin_add_classes %}{% endblock %}">#}
    <section {{ object.html_wrapper_attributes }}>

        {% block plugin_inner_content %}
            {% block plugin_title %}
                {% if object.title %}<h2>{{ object.title }}</h2>{% endif %}
            {% endblock %}
        {% endblock %}

        {% block plugin_children %}
            {% if object.child_plugin_instances|length %}
                <div class="plugin-children">
                    {% for plugin in object.child_plugin_instances %}
                        {% render_plugin plugin %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}

    </section>

{% endblock %}
