{% extends "djangocms_baseplugins/baseplugin.html" %}
{% load cms_tags menu_tags i18n %}


{% block plugin_content %}
    <section class="plugin {{ object.get_css_classes }}">
        <ul class="contentnav">
            {% with depth=object.depth menu_template="djangocms_baseplugins/contentnav_menu.html" %}
                {% if object.cms_page %}
                    {% if request.user.is_staff and not object.cms_page.reverse_id %}
                        {% trans 'Contentnav/target page is not correctly configured. (page > advanced settings... > fill out field "ID")!' %}
                    {% else %}
                        {% show_menu_below_id object.cms_page.reverse_id 0 depth depth depth  menu_template %}
                    {% endif %}
                {% elif object.sitemap %}
                    {% show_menu 0 depth depth depth menu_template %}
                {% else %}
                    {% show_sub_menu 1 None depth menu_template %}
                {% endif %}
            {% endwith %}
        </ul>
    </section>
{% endblock %}
