{% extends "djangocms_baseplugins/baseplugin.html" %}
{% load cms_tags thumbnail mailprotector_tags %}

{% block plugin_content %}
<div class="plugin {{ object.css_classes }}  plugin_person">
    {% if object.image %}
        {% thumbnail object.image 450x570 crop=1 upscale=1 as resized %}
        <img src="{{ resized.url }}" alt="{{ instance.title }}">
    {% endif %}
    <h3>{{ object.title }} {{ object.salutation }}{{ object.first_name }} {{ object.last_name }}
        {% if object.function %}<span>{{ object.function }}</span>{% endif %}
        {% if object.department %}<span>{{ object.department }}</span>{% endif %}
    </h3>
    {{ object.body|safe }}
    <p class="connect">
        {% if object.email %}{% mailprotector object.email %}<br>{% endif %}
        {% if object.phone %}<a href="tel:{{ object.phone }}">{{ object.phone }}</a><br>{% endif %}
        {% if object.website %}<a href="{{ object.website }}" target="_blank">Personal Website</a><br>{% endif %}
    </p>
</div>
{% endblock %}