{% extends "djangocms_baseplugins/baseplugin.html" %}
{% load thumbnail %}
{% load ckeditor_link_tags %}


{% block plugin_content %}
    <div {{ object.html_wrapper_attributes }}>
        <div class="plugin-textimage__image textimage_image">
            {% thumbnail object.image 1000x1000 crop=0 upscale=0 as resized %}
            <img src="{{ resized.url }}" alt="{{ object.caption }}" title="{{ object.caption }}">
        </div>
        <div class="plugin-textimage__text textimage_text">
            {{ object.body|safe }}
        </div>
    </div>
{% endblock %}
